<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.PERSONConnectionString"
            connectionString="Data Source=DESKTOP-GT7I5F2;Initial Catalog=PERSON;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.IMSConnectionString"
            connectionString="Data Source=.;Initial Catalog=IMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>